---
import BaseLayout from "../layouts/BaseLayout.astro";
import Section from "../components/Section.astro";
---

<BaseLayout>
  <Section>
    <h1>About me</h1>
    <p>
      Hi, I am Roopak. I am a final year CS student on my journey to be a
      Backend-focused developer. I am interested in building production-grade
      backend systems and AI/ML-powered features.
    </p>

    <p>
      I enjoy developing systems that would be Deployable into the real-world
      codebases, Trying to manifest my presence into a real-life workforce(lol
      :3). So far I have worked with authentication, APIs, databases, ML models
      and system design.
    </p>
    <h2>What I work with</h2>
    <ul>
      <li>Node.js, Express</li>
      <li>REST APIs, JWT Auth, RBAC</li>
      <li>PostgreSQL, Sequelize, Migrations</li>
      <li>Docker & Deployment</li>
      <li>Machine Learning</li>
      <li>Applied ML (RAG, embeddings)</li>
    </ul>
  </Section>
</BaseLayout>
